.profile-border{
    border: 1px solid ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 357px;
    height: 132px;
    
}
.border-nav{
    border: 1px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h2-border{
    border: 1px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 331px;
    height: 500px;
    margin-left: 110px;
}